In [2]:
import numpy as np
import pandas as pd
from collections import Counter

In [3]:
df = pd.read_excel('preprocessed_mean.xlsx')
df1 = pd.read_excel('preprocessed_mode.xlsx')
df.head()

,Unnamed: 0,ID,SITENME,MG,PH,K,NITRATE,SULPHATE,EC,CA,NA,CARBONATE,BICARBONATE,CHLORIDE,FLUORIDE,SAR,RSC,YEAR
0,0,1,Vengalapuram,267.95,7.28,10.0,276.0,304.0,5730.0,16.0,850.0,0.0,878.0,1304.0,1.64,10.94,-8.45,2008
1,1,2,Kavalur,94.85,7.18,3.0,2.0,12.0,1069.0,24.0,77.0,0.0,421.0,163.0,1.34,1.58,-2.10,2008
2,2,3,Alangayam,226.14,7.48,0.0,16.0,150.0,2830.0,20.0,300.0,0.0,549.0,631.0,0.99,4.17,-10.60,2008
3,3,4,Vaniyambadi1,211.55,7.34,5.0,140.0,264.0,3600.0,20.0,500.0,0.0,726.0,680.0,1.65,7.17,-6.50,2008
4,4,5,Sangilikuppam,238.30,7.22,2.0,174.0,240.0,2300.0,24.0,152.0,0.0,537.0,305.0,1.21,2.05,-12.00,2008

In [4]:
#adding class label column
df["Class Label"] = np.nan
df1['Class Label'] = np.nan
df.head()

,Unnamed: 0,ID,SITENME,MG,PH,K,NITRATE,SULPHATE,EC,CA,NA,CARBONATE,BICARBONATE,CHLORIDE,FLUORIDE,SAR,RSC,YEAR,Class Label
0,0,1,Vengalapuram,267.95,7.28,10.0,276.0,304.0,5730.0,16.0,850.0,0.0,878.0,1304.0,1.64,10.94,-8.45,2008,NaN
1,1,2,Kavalur,94.85,7.18,3.0,2.0,12.0,1069.0,24.0,77.0,0.0,421.0,163.0,1.34,1.58,-2.10,2008,NaN
2,2,3,Alangayam,226.14,7.48,0.0,16.0,150.0,2830.0,20.0,300.0,0.0,549.0,631.0,0.99,4.17,-10.60,2008,NaN
3,3,4,Vaniyambadi1,211.55,7.34,5.0,140.0,264.0,3600.0,20.0,500.0,0.0,726.0,680.0,1.65,7.17,-6.50,2008,NaN
4,4,5,Sangilikuppam,238.30,7.22,2.0,174.0,240.0,2300.0,24.0,152.0,0.0,537.0,305.0,1.21,2.05,-12.00,2008,NaN

In [5]:
#class label for df
for i in range(df.shape[0]):
  mghard = (df["MG"][i]*50.045)/20.04
  cahard = (df["CA"][i]*50.045)/12.15
  totalhard = (df["CA"][i]*2.497) + (df["MG"][i]*4.118)
  if df["PH"][i]>=6.5 and df["PH"][i]<=8.5 and mghard<200 and cahard<200 and totalhard<200 and df["CHLORIDE"][i]<250 and df["FLUORIDE"][i]<1.5 and df["NITRATE"][i]<20 and df["SULPHATE"][i]<400 :
    df["Class Label"][i]='A'
  elif df["PH"][i]>=6.5 and df["PH"][i]<=8.5 and df["FLUORIDE"][i]<1.5:
    df["Class Label"][i]='B' 
  elif df["PH"][i]>=6.0 and df["PH"][i]<=9.0 and df["CHLORIDE"][i]<600 and df["FLUORIDE"][i]<1.5 and df["NITRATE"][i]<50 and df["SULPHATE"][i]<400:
    df["Class Label"][i]='C'
  elif df["PH"][i]>=6.5 and df["PH"][i]<=8.5:
    df["Class Label"][i]='D'
  elif df["PH"][i]>=6.0 and df["PH"][i]<=8.5 and df["CHLORIDE"][i]<600 and df["EC"][i]<2250 and df["SULPHATE"][i]<1000 and df["SAR"][i]<26:
    df["Class Label"][i]='E'
  else:
    df["Class Label"][i]="Below E"

<ipython-input-5-031fb72a5c0c>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Class Label"][i]='D'
C:\Users\Tarun Anur\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-5-031fb72a5c0c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Class Label"][i]='B'
<ipython-input-5-031fb72a5c0c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Class Label"][i]='A'
<ipython-input-5-031fb72a5c0c>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Class Label"][i]='C'

In [6]:
#class label for df1
for i in range(df1.shape[0]):
  mghard = (df1["MG"][i]*50.045)/20.04
  cahard = (df1["CA"][i]*50.045)/12.15
  totalhard = (df1["CA"][i]*2.497) + (df1["MG"][i]*4.118)
  if df1["PH"][i]>=6.5 and df1["PH"][i]<=8.5 and mghard<200 and cahard<200 and totalhard<200 and df1["CHLORIDE"][i]<250 and df1["FLUORIDE"][i]<1.5 and df1["NITRATE"][i]<20 and df1["SULPHATE"][i]<400 :
    df1["Class Label"][i]='A'
  elif df1["PH"][i]>=6.5 and df1["PH"][i]<=8.5 and df1["FLUORIDE"][i]<1.5:
    df1["Class Label"][i]='B' 
  elif df1["PH"][i]>=6.0 and df1["PH"][i]<=9.0 and df1["CHLORIDE"][i]<600 and df1["FLUORIDE"][i]<1.5 and df1["NITRATE"][i]<50 and df1["SULPHATE"][i]<400:
    df1["Class Label"][i]='C'
  elif df1["PH"][i]>=6.5 and df1["PH"][i]<=8.5:
    df1["Class Label"][i]='D'
  elif df1["PH"][i]>=6.0 and df1["PH"][i]<=8.5 and df1["CHLORIDE"][i]<600 and df1["EC"][i]<2250 and df1["SULPHATE"][i]<1000 and df1["SAR"][i]<26:
    df1["Class Label"][i]='E'
  else:
    df1["Class Label"][i]="Below E"

<ipython-input-6-e20ff223edd4>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Class Label"][i]='D'
<ipython-input-6-e20ff223edd4>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Class Label"][i]='B'
<ipython-input-6-e20ff223edd4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Class Label"][i]='A'
<ipython-input-6-e20ff223edd4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Class Label"][i]='C'

In [7]:
df

,Unnamed: 0,ID,SITENME,MG,PH,K,NITRATE,SULPHATE,EC,CA,NA,CARBONATE,BICARBONATE,CHLORIDE,FLUORIDE,SAR,RSC,YEAR,Class Label
0,0,1,Vengalapuram,267.950000,7.280000,10.000000,276.000000,304.000000,5730.0,16.000000,850.000000,0.000000,878.000000,1304.0,1.640000,10.940000,-8.450000,2008,D
1,1,2,Kavalur,94.850000,7.180000,3.000000,2.000000,12.000000,1069.0,24.000000,77.000000,0.000000,421.000000,163.0,1.340000,1.580000,-2.100000,2008,B
2,2,3,Alangayam,226.140000,7.480000,0.000000,16.000000,150.000000,2830.0,20.000000,300.000000,0.000000,549.000000,631.0,0.990000,4.170000,-10.600000,2008,B
3,3,4,Vaniyambadi1,211.550000,7.340000,5.000000,140.000000,264.000000,3600.0,20.000000,500.000000,0.000000,726.000000,680.0,1.650000,7.170000,-6.500000,2008,D
4,4,5,Sangilikuppam,238.300000,7.220000,2.000000,174.000000,240.000000,2300.0,24.000000,152.000000,0.000000,537.000000,305.0,1.210000,2.050000,-12.000000,2008,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,133,134,Arakkonam-EW,12.000000,7.660000,25.000000,8.600000,29.000000,610.0,28.000000,80.000000,4.326923,250.000000,39.0,0.700000,3.190000,1.710000,2005,A
134,134,135,Arakkonam2,86.519692,7.723858,70.759255,18.079712,169.626593,740.0,103.819528,270.904762,4.326923,402.462302,60.0,0.988176,4.622381,-5.669462,2005,B
135,135,136,Sholinghur,22.920000,7.600000,34.000000,2.000000,25.000000,525.0,50.000000,33.000000,0.000000,179.000000,53.0,0.390000,0.970000,-1.450000,2005,B
136,136,137,Sholingar-EW,13.000000,7.640000,15.000000,15.000000,10.000000,560.0,26.000000,64.000000,4.326923,268.000000,25.0,0.800000,2.560000,2.030000,2005,A
137,137,138,Sholingar1,23.000000,7.600000,34.000000,2.000000,25.000000,525.0,50.000000,33.000000,0.000000,179.000000,53.0,0.390000,0.970000,-1.450000,2005,B

In [8]:
df1

,Unnamed: 0,ID,SITENAME,MG,PH,K,NITRATE,SULPHATE,EC,CA,NA,CARBONATE,BICARBONATE,CHLORIDE,FLUORIDE,SAR,RSC,YEAR,Class Label
0,0,1,Vengalapuram,267.95,7.28,10.0,276.0,304.0,5730,16.0,850,0,878.0,1304.0,1.64,10.94,-8.45,2008,D
1,1,2,Kavalur,94.85,7.18,3.0,2.0,12.0,1069,24.0,77,0,421.0,163.0,1.34,1.58,-2.10,2008,B
2,2,3,Alangayam,226.14,7.48,0.0,16.0,150.0,2830,20.0,300,0,549.0,631.0,0.99,4.17,-10.60,2008,B
3,3,4,Vaniyambadi1,211.55,7.34,5.0,140.0,264.0,3600,20.0,500,0,726.0,680.0,1.65,7.17,-6.50,2008,D
4,4,5,Sangilikuppam,238.30,7.22,2.0,174.0,240.0,2300,24.0,152,0,537.0,305.0,1.21,2.05,-12.00,2008,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,133,134,Arakkonam-EW,12.00,7.66,25.0,8.6,29.0,610,28.0,80,0,250.0,39.0,0.70,3.19,1.71,2005,A
134,134,135,Arakkonam2,0.00,7.30,2.0,2.0,25.0,740,20.0,104,0,281.0,60.0,0.60,0.97,-7.20,2005,A
135,135,136,Sholinghur,22.92,7.60,34.0,2.0,25.0,525,50.0,33,0,179.0,53.0,0.39,0.97,-1.45,2005,B
136,136,137,Sholingar-EW,13.00,7.64,15.0,15.0,10.0,560,26.0,64,0,268.0,25.0,0.80,2.56,2.03,2005,A
137,137,138,Sholingar1,23.00,7.60,34.0,2.0,25.0,525,50.0,33,0,179.0,53.0,0.39,0.97,-1.45,2005,B

In [9]:
#df.to_excel('target_preprocessed_mean.xlsx')
#df1.to_excel('target_preprocessed_mode.xlsx')